/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
/*font-family: 'gg sans', sans-serif;
font-family: 'gg sans Normal', sans-serif;
font-family: 'gg sans Medium', sans-serif;
font-family: 'gg sans SemiBold', sans-serif;*/
}

:root{
    --disc-white: #fcfdf9;
    --disc-grey: #3a393c;
    --disc-dark: #252628; 
    --disc-black: #23272a;
    --disc-hbg: #255ee9;
    --disc-menu: #f0ffff;
    --disc-h2: #25292c;
    --disc-lastbuttons: #8ea2e1;
    --disc-footerbg:#23262b;
    --disc-hfooter:#7589d8;
}

section {
  padding: 2rem 0;
}

h2, h4{
    color: var(--disc-h2);
    font-family:'gg sans Bold', sans-serif;
    font-size: 30px;
    text-shadow: #23272a;
}


.card p{
    font-family: 'gg sans normal', sans-serif;
    color: var(--disc-h2);
    margin-top: 1rem;
    font-size: 0.8rem;
}

/* #endregion Common */

/* #region Debug */
.debug .container
{
  background-color: rgb(255, 166, 0);
}

.debug [class^='col-']
{
  height: 200px;
  background-color: palegreen;
  border: 1px dashed;
}

.debug .h-50
{
  height: 500px;
}

.debug .login,
.debug .logo,
.debug .menu
{
  border: 1px dashed;
}

.debug .container-sm
{
  background-color: palevioletred;
  height: 100%;
}
/* #endregion Debug */

/* #region Utilities */

.d-flex {
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 60%;
  margin: auto;
}
.justify-content-between {
  justify-content: space-between;
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  /* negative margin */
}

[class^='col-']
{
  padding: 0 1rem;
}

.col-3{
  width: calc(100% / 12 * 3);
}
.col-4
{
  width: calc(100% / 12 * 4);
}
.col-8 {
  width: calc(100% / 12 * 8);
}


/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

/* Colors */
.bg_section {
  background-color: #ededed;
}

/* #endregion Utility */

/* #region Header */

header {
  background-color: var(--disc-hbg);
}  

.logo, .login {
  width: 20%;
  align-self: center;
}

.menu {
  width: 60%;
  text-align: center;
  color: var(--disc-menu);
  display: flex;
  align-items:center;
  justify-content: space-around;
  font-family: 'gg sans Normal', sans-serif;
}
.menu a{
    text-decoration: none;
    color: var(--disc-menu);
    padding: 0 30px;
    font-size: 1rem;
}

.menu a:hover{
    text-decoration: underline;
}

.login, .tosignup {
  text-align: end;
}

.login button{
    border-radius: 30px;
    padding: 0.7rem;
    background-color: var(--disc-white);
    color: var(--disc-black);
    border: none; 
}

button a{
    text-decoration: none;
}

button:hover {
    color:var(--disc-hbg);
}
/* #endregion Header */

/* #region Main */

.jumbotron {
  height: 450px; /* we might need to keep this */
  padding: 2rem 0;
  background-image: url(../img/jumbo.png);
  width: 100%;
  background-repeat:no-repeat;
  background-size: cover;
}

.container-sm h1{
    color: var(--disc-white);
    text-align: center;
    font-size: 60px;
    padding-top: 60px;
    font-family: 'gg sans SemiBold', sans-serif;
}

.container-sm p{
    color: var(--disc-white);
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'gg sans Normal', sans-serif;
}

.button_container{
    margin: 20px 150px;
    padding-left: 20px;
}

#download, #browser{
    border-radius: 30px;
    border-width: 0;
    font-size: 1rem;
    padding: 0.8rem;
    font-family:'gg sans Medium', sans-serif;
}

.fa-down-long{
    padding: 0.2rem;
}

#download {
    background-color: var(--disc-white);
    color: var(--disc-black);
}

#browser{
    background-color: var(--disc-dark);
    color: var(--disc-white);
    margin-left: 50px;
}

.small{
    margin: 0 200px;
}

.small{
    height: 300px;
}

.big{
    height: 500px;
}

.h-50{
    text-align: center;
    padding: 2rem;
}

.stars{
    width: 600px;
}

.lastdownload{
    border-radius: 30px;
    border-width: 0;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    font-family:'gg sans Medium', sans-serif;
    background-color: var(--disc-lastbuttons);
    color:var(--disc-white);
    margin-top: 2rem;
}


/* #endregion Main */


/* #region Footer */
footer {
  background-color:var(--disc-footerbg);
}
footer > .top, footer > .bottom {
  padding: 1rem 0;
}

span{
    color: ;
}

.social{
    color: var(--disc-white);
    padding: 15px;
}

h3, h5{
    color: var(--disc-hfooter);
    font-family:'gg sans Medium', sans-serif;
}

h3{
    font-size: 3rem;
}

.flagIT{
    width: 30px;
}

ul{
    list-style-type: none;
}

h5, li{
    padding: 1rem;
    font-size: 1rem;
}

li a{
    text-decoration: none;
    color: var(--disc-white);
}

.signup {
    border-radius: 30px;
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    font-family:'gg sans Medium', sans-serif;
    background-color: var(--disc-lastbuttons);
    color:var(--disc-white);
}

/* #endregion Footer */